@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&family=Salsa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ropa Sans;
  max-width: 100%;
}

/* top section start */
.top {
  min-height: 10vh;
  /* border: 1px solid red; */
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  /* background-color: whitesmoke; */
}

.contact,
.media-links {
  display: flex;

  margin: auto;
}

h2 {
  margin-left: 2rem;
}
.email {
  margin-left: 1rem;
}

/* navbar starts */

.nav {
  background-color: #3cc78f;
  /* box-shadow: 10px 10px 18px #888888; */
  top: 0rem;
  position: sticky;

  border-radius: 10px;
  width: 90%;
  margin: auto;

  display: flex;
  align-items: center;
  z-index: 1;
}

.nav1 {
  transition: ease-in 100ms;
  /* opacity:1; */
}

.logo {
  padding: 1rem;
}
.logo,
.menu {
  /* border: 1px solid black; */
}

.menu li {
  list-style: none;
  margin: 0rem 2rem;
  font-weight: bold;
  color: whitesmoke;
  font-size: 1.5rem;

  cursor: pointer;
}
a {
  text-decoration: none;
}

li:hover {
  color: black;
}

.logo,
.menu {
  flex: 1;
}

.menu {
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  padding: 0.4rem;
  min-width: 9rem;
  font-size: 1.2rem;

  border-radius: 10px;

  font-family: Ropa Sans;
  cursor: pointer;
  background-color: whitesmoke;
  box-shadow: 10px 10px 18px #888888;
}

button:hover {
  color: rgb(50, 143, 50);
}

.openhamburger,
.closehamburger,
.hide-logo {
  display: none;

  cursor: pointer;
}
/* nav section ends */

.image {
  margin-top: -4rem;
  min-height: 100vh;

  background-image: url(./images/banner.png);

  background-size: cover;
  background-repeat: no-repeat;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: green;
  opacity: 0.4;

  position: absolute;
}

.image img {
  min-height: 100vh;
  max-width: 100%;

  /* border-radius: 10px; */

  /* opacity: 0.7; */
}

.presents {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -80vh;

  color: rgb(231, 231, 231);
  opacity: 1;
  z-index: 1;
}

.presents .big,
.presents .small {
  font-size: 4rem;
  font-family: Salsa;
}

.helping {
  min-height: 30vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  /* border: 1px solid red; */
}

.helping .description {
  font-family: Ropa Sans;

  display: flex;
  font-size: 4rem;
  /* font-weight: 400; */

  /* border-radius: 10px;
  box-shadow: 10px 10px 18px #888888; */
}

/* rolling property */
@property --num {
  syntax: "<integer>";
  font-size: 10rem;

  initial-value: 100;
  inherits: true;
}

.number::after {
  content: counter(num);
}
.number::before {
  content: "+";
}

.helping:hover {
  --num: 130;
  cursor: pointer;
}

.number {
  animation: none;
}
.helping .number {
  font-family: Ropa Sans;
  color: rgb(13, 81, 112);

  transition: --num 1.5s;
  counter-set: num var(--num);
  font: 800 40px system-ui;
}

.number:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  /* animation: shake 0.5s; */

  /* When the animation is finished, start again */
  /* animation-iteration-count: infinite; */
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.reason {
  /* background-repeat: no-repeat;
  background-position: fill; */
  border: 1px solid red;

  position: static;
  margin-bottom: 0;
  min-width: 100%;
}
.reason img {
  border: 1px solid rgb(0, 60, 255);
  min-height: 100%;
}
/* .up {
  min-height: 2px;
  width: 100%;
} */
.volunteer {
  /* border: 1px solid yellow; */
  position: relative;
}

.volunteer-text p{
  position: absolute;
  top: 1rem;
  left: 40%;

  text-align: center;
  font-size: 3.5rem;
  color: white;
  
}

/* donate section starts */
.donate-section {
  /* border: 1px solid red; */
}
.donate-section img {
  /* border: 1px solid red; */
  min-height: 100%;
}
.donate-container {
  display: flex;
  justify-content: space-between;
}

.donate-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* donate section ends */
/* footer starts from here */
.footer {
  min-height: 20rem;
  font-family: Ropa Sans;
  background-color: #85e9c1;
  padding: 1rem;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  /* border: 1px solid red; */
}
.footer1,
.footer2,
.footer3 {
  min-height: 20rem;

  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid red; */
}

.footer2,
.footer3 {
  padding: 5rem 2rem;
  /* padding-left: 5rem; */
}

.footer2 {
  padding-left: 11rem;
}
.footer3 {
  padding-top: 4rem;
}
.footer-logo {
  padding: 2rem;
}

.footer1 .logo-des {
  /* margin-top: 1rem; */
}
.footer2 h1 {
  margin-bottom: 1rem;
}
.footer3 h1 {
  margin-bottom: 1rem;
}

.icons {
  flex-wrap: wrap;
  margin: 0;
}

.social-icons {
  margin-right: 2rem;
  cursor: pointer;
}

hr {
  height: 2px;
  margin: 1rem;
}

.copyright {
  padding: 1rem;
}

/* footer ends */

/* media queries */
@media (max-width: 950px) {
  .top {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .contact {
    margin-bottom: 1.5rem;
  }
  .presents .big,
  .presents .small {
    font-size: 2rem;
  }
  .top .contact {
    font-size: 0.8rem;
    flex-direction: column;
  }
  .nav {
    min-width: 100%;
    border-radius: 0;
  }
  .menu {
    display: none;

    /*if display is flex */

    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #3cc78f;
    /* opacity: 0.9; */

    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 1;
  }
  .logo {
    padding: 2rem;
  }
  .logo img{
    display: none;
  }
  .menu li {
    margin: 1rem;
  }
  .openhamburger {
    display: inline;
    margin-right: 2rem;
    font-size: 1.5rem;
  }
  .hide-logo {
    display: block;
    /* margin-right: 2rem;
    font-size: 1.5rem; */
  }

  .closehamburger {
    display: inline;

    font-size: 1.5rem;
    position: absolute;
    top: 2rem;
    right: 1.3rem;
  }

  .helping {
    flex-direction: column;
    min-height: 35rem;
  }
  .helping h1 {
    text-decoration: none;
    font-size: 1rem;
  }

  .description,
  .number {
    font-size: 1rem;
    font-weight: 200;
  }
  

  .footer-container {
    flex-direction: column;
    flex: 0;
  }

  .footer-logo {
    padding: 1rem;
  }

  .footer1,
  .footer2,
  .footer3 {
    min-height: 6vh;
    padding: 1;
  }
  .footer2 {
    padding-left: 4rem;
  }
  .footer3 {
    padding-left: 3rem;
  }
  .footer-logo {
    padding: 2rem;
    padding-left: 0.3rem;
  }
}

@media (max-width:780px){
  .volunteer-text p{
    font-size: 2rem;
    top: 10px;
  }

 
}

@media (max-width:600px){
  .top .social-icons{
    display: none;
  }
  .top{
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

}
